.squareStyle {
    display: grid;
    /* background-color: ${colour}; */
    /* border: 1px solid whitesmoke; */
    /* width: 20px; */
    /* height: 15px; */
    font-size: 7px;
}

.modalStyle {
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 500px;
    height: 500px;
    background-color: rgba(22, 25, 26, 0.5);
    border: 1px solid black;
    border-radius: 10px;
}

.modalContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 500px;
    height: 500px;
    background-color: rgba(22, 25, 26, 0.5);
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.modalContent {
    color: white;
    position: relative;
    font-size: 30px;
}

.modalButton {
    border: 4px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    width: 70px;
    height: 50px;
    background-color: rgb(26, 29, 29);
}

.modalButton:hover {
    background-color: #63636370;
}

.containerStyle {
    display: grid;
    background-image: url("https://images.theconversation.com/files/145445/original/image-20161110-21844-w84scr.jpg");
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(30, 1fr);
    font-size: 10px;
    color: white;
    background-size: 100%;
}

.heroModelStyle {
    background-color: yellow;
    border-bottom: solid rgba(128, 128, 128, 0.7);
    border-right: solid rgba(128, 128, 128, 0.2);
    border-top: solid rgba(128, 128, 128, 0.2);
    border-left: solid rgba(128, 128, 128, 0.7);
    position: absolute;
}

.botModelStyle {
    border-bottom: solid rgba(128, 128, 128, 0.7);
    border-right: solid rgba(128, 128, 128, 0.2);
    border-top: solid rgba(128, 128, 128, 0.2);
    border-left: solid rgba(128, 128, 128, 0.7);
    position: absolute;
}

.botModelStyle {
    background-color: red;
    border-bottom: solid rgba(128, 128, 128, 0.7);
    border-right: solid rgba(128, 128, 128, 0.2);
    border-top: solid rgba(128, 128, 128, 0.2);
    border-left: solid rgba(128, 128, 128, 0.7);
    position: absolute;
}

.itemModelStyle {
    position: absolute;
    border: 1px solid;
}

.header {
    display: inline;
    position: absolute;
    justify-content: center;
    justify-self: center;
    height: 50px;
}
